$primary: #463698;
$secondary: #ff5cb2;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$transparent-white: rgba(36, 32, 32, 0.259);
$border-color: hsla(0, 0%, 100%, 0.4);

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;

$link-color: $primary;
$link-hover-color: darken($primary, 10%);
