@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

$scrollbar-width: 4px; // Width of the scrollbar
$scrollbar-thumb-color: $primary; // Color of the scrollbar thumb
$scrollbar-track-color: lighten($primary, 5); // Background color of the scrollbar track
$scrollbar-thumb-hover-color: #555;

html,
body {
    background: rgba(20, 0, 45, 0);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #555 #333;

    &::-webkit-scrollbar-track {
        background-color: #333;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #777;
        /* Lighter shade on hover */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #555;
        /* Thumb color */
        border-radius: 8px;
        /* Rounded corners for the thumb */
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}

// Navbar styles
.navbar {
    background-color: $primary;

    .navbar-brand,
    .navbar-nav .nav-link {
        color: #fff;

        &:hover,
        &:focus {
            color: lighten($primary, 10%);
        }
    }
}

.card {
    border-radius: 0.5rem;
    background-color: $transparent-white;
    color: $light;
    border: $border-width solid $border-color;

    .card-header {
        border-bottom: $border-width solid $border-color;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        display: flex;
        align-items: center;

        .card-title {
            font-size: 1rem;
            padding-bottom: 0;
            margin: 0;
        }
    }

    &.card-hover {
        transition: transform 0.3s ease-in-out;

        &:hover {
            border-color: $white;
        }
    }

    .card-body {
        padding: 1rem;
    }

    &.card-footer {
        border-top: $border-width solid $border-color;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        display: flex;
        align-items: center;
    }
}

p {
    padding: 0;
    margin: 0;
}

.bg-white-50 {
    background-color: $transparent-white;
}

.bg-blur {
    filter: blur(0.5rem);
}

.bg-fade {
    background: linear-gradient(150.53deg, rgba(255, 92, 178, 0.25) -2px, rgba(107, 86, 220, 0.073) 300px, rgba(20, 0, 45, 0) 800px),
        linear-gradient(180deg, #14002d -5px, #1c0040 1000px, #0e0021);
    background-size: 100% 100%;
}

.json-viewer {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-wrap: wrap;
}

.string {
    color: #6abf69;
    /* Green */
}

.number {
    color: #fd971f;
    /* Dark Orange */
}

.boolean {
    color: #66d9ef;
    /* Blue */
}

.null {
    color: #d33682;
    /* Magenta */
}

.key {
    color: #f92672;
    /* Light Red */
}

.fa-caret-up {
    transition: all 0.3s ease-in-out;
}

.collapsed.button {
    .fa-caret-up {
        transform: rotate(180deg);
    }
}

.multiselect {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    background-color: $dark;
    background-clip: padding-box;
    border-radius: .25rem;
    border: none !important;
    margin: 0 !important;
    min-height: 0 !important;
}

.multiselect--active {
    border-color: none;
    outline: 0;
    box-shadow: none !important;
}

.multiselect__input {
    width: auto !important;
    padding: 0 !important;
    background-color: $dark !important;
}

.multiselect__tags {
    display: flex;
    flex-wrap: wrap;
    background-color: $dark !important;
    border: none !important;
    padding: 0 !important;
    font-size: 1rem !important;
    min-height: 0px !important;
    max-height: 1.6rem !important;
}

.multiselect__option--selected {
    background-color: lighten($dark, 10%) !important;
    color: $light !important;

    &::after {
        background-color: lighten($dark, 10%) !important;
    }
}

.multiselect__tags-wrap {
    top: 0 !important
}

.multiselect__input {
    margin: 0 !important;
}

.multiselect__tag {
    background-color: $secondary !important;
    border: none;
    border-radius: .2rem;
    color: #fff;
    padding: .2rem .4rem;
    margin-right: .25rem !important;
    margin-bottom: 0 !important;
}

.multiselect__tag-icon {
    margin-left: .5rem;
}

.multiselect__content {
    border: $border-color;
    border-top: none;
    border-radius: 0 0 .25rem .25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.multiselect__option {
    padding: .375rem .75rem;
    line-height: 1.5;
    color: $light;
    background-color: $dark;
    cursor: pointer;
}

.multiselect__option--highlight {
    background-color: $secondary !important;
    background: $secondary !important;

    &::after {
        background: $secondary !important;
    }
}

.table-transparent-striped {
    th {
        background-color: $transparent-white
    }

    tr:nth-child(even) {
        td {
            background-color: $transparent-white
        }
    }

    tr:nth-child(odd) {
        td {
            background-color: lighten($transparent-white, 20%)
        }
    }
}